* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	text-decoration: none;
	list-style: none;
}

a {
	list-style: none;
}

body {
	width: 100%;
	height: 100%;
}

.supermarket {
}

.bill {
	padding: 30px 0 0 50px;
	display: flex;
	justify-content: center;
}

.bill__container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
}

.bill__title{
	display: flex;
	justify-content: center;
	font-size: 20px;
	color: rgba(30, 98, 107, 0.61);
	margin-bottom: 20px;
}

.bill__body{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 10px;
	gap: 100px;
	border: 1px solid #000;
	min-width: 300px;
}

.bill__products{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.bill__item{
	font-size: 20px;
	font-weight: 600;
}

.bill__price{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.price-bill{
	font-size: 20px;
	font-weight: 400;
}


